[2015-12-21 14:37] rajeshnath3899 opened #1 "Model Review"
Please find my review just on models.

Change the interviewedBy attribute name in TechnicalFeedBack entity to techLeadName

Change the interviewedBy attribute name in ManagerFeedback entity to managerName

Change the interviewedBy attribute name in HrFeedBack entity to hrManagerName

Relationships name for TechnicalFeedBack , HrFeedBack, ManagerFeedBack can be “candidates” instead of candidate

Ca

[2016-01-06 04:34] srilatha-sriram opened #2 "Exit gracefully after "Failed to initialize the application's saved data""
Exit gracefully after "Failed to initialize the application's saved data"

Currently, it is hanging. It is not a good user experience.

[2016-01-06 05:03] padalingam87 commented on #2
Can you please remove the core data file from Application support folder? Then have a try

[2016-01-06 06:09] srilatha-sriram commented on #2
That is not the point. It should exit gracefully.

[2016-01-06 06:43] Ajayiosdeveloper commented on #2
Hello Team,
As per searching on this issue i found out that this kind of hanging will be happening only when in development state because of the Core Data model with new changes incompatible with the store already created.This is only for developer convenience and to be fixed during development only.Once we make the model fixed and ready for production.This kind of hanging shall not happen.

Pleas

[2016-01-06 06:55] srilatha-sriram opened #3 "Issues in Outline View"
1. FIXED - Once I click on + for adding tech, and then don't give a name, but click somewhere else, that textfield persists. It needs to be removed.
2. Name the + buttons as 'Add Technology'  & 'Add Date' and Keep them on the left. Move the '-' button to right most. This you can do after increasing the minimum width of the Outline View.
3. FIXED - Delete date crashed !
4. FIXED - By default, 'Ente

[2016-01-06 07:06] srilatha-sriram commented on #2
Thanks for the proper clarification. Closing the issue.

[2016-01-06 07:06] #2 closed, assigned to pavithra123456

[2016-01-06 07:29] srilatha-sriram opened #4 "Candidate: Do not allow multiple empty rows"
Candidate Addition: Do not allow multiple empty rows. Display an error if the user tries to add a new Candidate row if the previously added Candidate information is incomplete.

[2016-01-06 09:07] srilatha-sriram opened #5 "Candidate: Not allowing to enter name"
1. Not allowing to enter name after doing a double click.
2. Change 'Give Feedback' label to 'Enter Feedback'.
3. Enable ''Enter Feedback'' button only when a candidate row is selected.

[2016-01-06 10:03] sudhanshu-saraswat commented on #3
Name added to  + buttons as  'Add Technology'  &  'Add Date' ,with AutoLayouts.

[2016-01-06 10:40] PratibhaSawargi commented on #4
Now it is working fine.

[2016-01-06 10:56] srilatha-sriram opened #6 "SourceList: Allowing to add date to an empty technology"
Issue 1 - SourceList: Allowing to add date to an empty technology. Refer the screen shot.

Need to validate before adding a date if a tech is entered.

Issue 2: Can add new Tech only when an existing date is selected. How will the user know it ? It should be allowed anytime when a Tech is not selected.

![screen shot 2016-01-06 at 4 25 17 pm](https://cloud.githubusercontent.com/assets/16315979/121

[2016-01-06 10:57] srilatha-sriram commented on #3
Issue 2 - is fixed now and verified.

[2016-01-06 10:57] #3 closed, assigned to sudhanshu-saraswat

[2016-01-06 11:02] sudhanshu-saraswat commented on #6
ok, i will fix it

[2016-01-06 11:09] padalingam87 opened #7 "TableView Selection is not Persisting"
When you come from feedback module into candidate module that selected candidate is selecting. That selection has to be preserved

[2016-01-06 11:12] PratibhaSawargi commented on #7
I ll be working on same

[2016-01-06 11:22] padalingam87 opened #8 "Technical: Date of Interview"
When you click on Enter Feedback the selected candidate interview date is not coming

[2016-01-06 11:25] VineetSingh-Exilant commented on #8
Okay.I will work on it.

[2016-01-06 12:10] PratibhaSawargi commented on #5
Now double click in tableview is working fine.
Changed name to Enter Feedback.
Enter Feedback is enabled only when candidate is selected.

[2016-01-06 12:21] padalingam87 commented on #7
Preserving is done by me....

[2016-01-06 12:21] #7 closed, assigned to PratibhaSawargi

[2016-01-06 12:52] VineetSingh-Exilant commented on #8
Hi Team,
   I have fixed the issue.

[2016-01-06 17:33] sudhanshu-saraswat commented on #6
Issue resolved of adding date on empty technology.

[2016-01-07 03:45] padalingam87 commented on #8
Good work Vineet kumar!!!!

[2016-01-07 03:45] #8 closed, assigned to VineetSingh-Exilant

[2016-01-07 03:49] padalingam87 opened #9 "Candidate: Disable button"
Delete a candidate and enter the feedback button is enable when there is no candidate in the tableview. It should be disable
![screen shot 2016-01-07 at 9 09 16 am](https://cloud.githubusercontent.com/assets/16331589/12161738/9eb3bbae-b51f-11e5-8ede-de3b5c942cef.png)

[2016-01-07 03:58] padalingam87 opened #10 "Technial: Default Skill set Shouldn't editable"
When you tried to edit a four default skills in skill set it's allow me to do the edit. That should not happen
![screen shot 2016-01-07 at 9 12 58 am](https://cloud.githubusercontent.com/assets/16331589/12161861/d65aba48-b520-11e5-9bb6-50591e4c4394.png)

[2016-01-07 04:20] Tharani-p commented on #10
ok.I will work on it.

[2016-01-07 04:40] pavithra123456 opened #11 "Saved Manager feedback should not editable"
After giving feedback , all the textfields and buttons should be disabled.

[2016-01-07 05:11] Tharani-p commented on #10
Issue Resolved.

[2016-01-07 05:18] srilatha-sriram commented on #6
Issue 1 - is working fine. Verified.

Please work on Issue 2. When a tech is selected, if I click else where that tech should be deselected so that I can proceed to add anew tech. Otherwise it will allow me to add only new date and not new tech.

[2016-01-07 05:20] sudhanshu-saraswat commented on #6
ok, i will work on it.

[2016-01-07 05:24] padalingam87 commented on #10
Issued was solved...  :+1:

[2016-01-07 05:24] #10 closed, assigned to padalingam87

[2016-01-07 05:55] vipin1006 commented on #11
I will work on it

[2016-01-07 06:20] padalingam87 opened #12 "SourceList: Contextmenu"
In this screen shot java don't have any date but in delete java its showing disclosure ref the diagram
![screen shot 2016-01-07 at 11 37 23 am](https://cloud.githubusercontent.com/assets/16331589/12163438/9f6c0a60-b533-11e5-9f25-d6be2c463cc3.png)

[2016-01-07 06:33] PratibhaSawargi commented on #4
Please verify and let me know if any changes required.

[2016-01-07 06:40] PratibhaSawargi commented on #9
I will work on it.

[2016-01-07 06:42] srilatha-sriram opened #13 "Candidate: Change the error message, etc."
Issue 1. Change "Please fill the existing candidate details before adding a new candidate"
    TO
     "Please fill ALL the details of the selected candidate before adding a new candidate"

Issue 2. Delete button is still enabled soon after deleting a candidate even if no other candidate is selected. It should be disabled when no other candidate is selected.

Issue 3. Add tool tips for + and - but

[2016-01-07 06:42] srilatha-sriram commented on #5
Verified. Working fine. Closing the issue.

[2016-01-07 06:42] #5 closed, assigned to srilatha-sriram

[2016-01-07 06:43] srilatha-sriram commented on #4
verified. Working fine. Closing the issue.

[2016-01-07 06:43] #4 closed, assigned to srilatha-sriram

[2016-01-07 06:58] Ajayiosdeveloper commented on #12
Ok pada. soon i resolve that and let you know.

[2016-01-07 07:01] srilatha-sriram opened #14 "SourceList: Crashes - multiple while deleting date."
Issue 1: Crashed multiple times while deleting dates. Refer screenshots.
![screen shot 2016-01-07 at 12 26 32 pm](https://cloud.githubusercontent.com/assets/16315979/12164283/75a4fb7c-b53a-11e5-90e0-1e0dec48182f.png)
![screen shot 2016-01-07 at 12 26 35 pm](https://cloud.githubusercontent.com/assets/16315979/12164285/75ee6988-b53a-11e5-960b-c6ee996bbded.png)
![screen shot 2016-01-07 at 12 28 47 pm

[2016-01-07 07:27] PratibhaSawargi commented on #9
Issue resolved.

[2016-01-07 07:32] sudhanshu-saraswat commented on #14
ok , i will fix it

[2016-01-07 07:37] PratibhaSawargi commented on #13
I will work on it.

[2016-01-07 07:55] PratibhaSawargi commented on #13
Issue resolved,Please verify.

[2016-01-07 08:22] padalingam87 opened #15 "ContextMenu : Deletion Alert is not coming"
When ever you want delete a date or technology alert is not coming

[2016-01-07 08:23] srilatha-sriram commented on #13
4 issues were reported. Can u clarify which issue is resolved. If all are done, you should clearly mention that.

[2016-01-07 08:24] padalingam87 commented on #9
Can you please check once again?

[2016-01-07 08:31] padalingam87 opened #16 "ContextMenu : Its Visible out Side the scope"
If right click add technology button the context menu is showing. This should not happen
![screen shot 2016-01-07 at 1 59 29 pm](https://cloud.githubusercontent.com/assets/16331589/12165829/17b4b9a0-b547-11e5-9563-6d8f6e334839.png)

[2016-01-07 08:48] padalingam87 opened #17 "ContextMenu : Date Pop up is coming when the button is disable"
Issue 1: When i add new date through contextmenu the button is disable but its showing a Pop up date.
![screen shot 2016-01-07 at 2 06 51 pm](https://cloud.githubusercontent.com/assets/16331589/12166088/4cfcc588-b549-11e5-8eda-c84ff37b990d.png)

   Issue 2: When you select a technology then the Add Technology button is disable. at the same if you see the context menu Add Technology menu is enable.

[2016-01-07 09:13] PratibhaSawargi commented on #13
Issue 1,issue 3,issue 4 are resolved. Issue 2 i will fix it soon.

[2016-01-07 09:15] srilatha-sriram opened #18 "General: Move commonly used functions to some common utility class"
Example: isNumberValid function should be available to any class for usage.

Once you add this in a Common utility class, use that in EHCandidateController to validate phone number & Experience.
Like this there might be other functions which may be required commonly. If you take care of those, please share the details.

[2016-01-07 09:32] srilatha-sriram commented on #13
You should assign to me as request for verification only after all the issues are resolved.

[2016-01-07 09:38] PratibhaSawargi commented on #13
Okay. I will take care.

[2016-01-07 09:48] padalingam87 commented on #18
There will be some number fields in Technology, Candidate and Feedback module. That i will ask the respective people to fix it

[2016-01-07 09:51] Ajayiosdeveloper commented on #15
Showing Confirmation message when deleting Technology / Date using Context Menu is fixed.

[2016-01-07 10:00] padalingam87 commented on #15
Issue was fixed

[2016-01-07 10:00] #15 closed, assigned to padalingam87

[2016-01-07 10:06] Ajayiosdeveloper commented on #17
Issue 1:

Enabling the date Button when adding a date is fixed.

Issue 2:

Here there is a concern.When a technology is selected there is no way out to deselect that.By using ContextMenu option we can easily add a Technology in such cases with out any much trouble and with no conflicts to existing functionalities.

[2016-01-07 10:07] Ajayiosdeveloper commented on #12
This issue is fixed in every case where context menu is considered.

Many Thanks.

[2016-01-07 10:09] VineetSingh-Exilant commented on #11
I will work on it.

[2016-01-07 10:09] padalingam87 commented on #12
issue fixed

[2016-01-07 10:09] #12 closed, assigned to padalingam87

[2016-01-07 10:09] vipin1006 commented on #11
okk

[2016-01-07 10:09] #11 closed, assigned to VineetSingh-Exilant

[2016-01-07 10:11] sudhanshu-saraswat commented on #6
Fixed Issue 2:  When a tech is selected, if I click else where that tech should be deselected so that I can proceed to add anew tech. Otherwise it will allow me to add only new date and not new tech.

[2016-01-07 10:17] srilatha-sriram commented on #6
Issue 2: Tech is getting deselected. But both 'Add Tech' and 'Add Date' are enabled. 'Add Date' should be disabled at this point.
New Issue 3: After it got deselected when I pressed add tech, i was not able to enter data in tech name. please check.

[2016-01-07 10:18] padalingam87 commented on #17
No need to deselect a outline view. You can disable the Add Technology in Context Menu

[2016-01-07 10:21] Ajayiosdeveloper commented on #17
Please read that again discussion and let me know properly.

Many thanks

[2016-01-07 10:29] sudhanshu-saraswat commented on #14
Issue 1 Resolved  : After checking so many times crash not detected.
Issue 2 Resolved  : Changed the warning "Are you sure you want delete" to "Are you sure you want to delete the selected technology"

[2016-01-07 10:38] srilatha-sriram commented on #14
Keeping this issue open to see if I can get proper steps for the crashes I saw.

[2016-01-07 10:57] vipin1006 opened #19 "SourceList : Added technology is not editable and Add technology Button is disabled"
Steps to reproduce:
1. Add new technology on empty source list.
2. delete the technology.
3. Add again technology (it will not be editable)
4. delete the technology ( Add technology button will be disabled)

[2016-01-07 11:18] PratibhaSawargi commented on #18
As of now i have taken the phone number and experience as Strings.So now no need for that numeric validations for these fields.

[2016-01-07 12:28] sudhanshu-saraswat commented on #6
Issue resolved : Tech is getting deselected. But both 'Add Tech' and 'Add Date' are enabled. 'Add Date' should be disabled at this point.

[2016-01-07 13:10] PratibhaSawargi commented on #9
Disable button is working fine.

[2016-01-07 13:17] PratibhaSawargi commented on #13
Issue 1 : Changed the informativeText.
Issue 2 : Delete button is disabled when no other candidate is selected.
Issue 3. Added tool tips for + and - buttons of candidate.
Issue 4: When a date is selected,  changed the window title to 'List of Candidates.
All issues are fixed. Please verify and let me know if any changes required.

[2016-01-08 03:52] padalingam87 commented on #9
Issue was fixed

[2016-01-08 03:52] #9 closed, assigned to padalingam87

[2016-01-08 05:08] srilatha-sriram commented on #13
Issue 2 & 3 are still not fixed. Please make sure you CHECK/TEST THOROUGHLY before sending for verification.

[2016-01-08 05:10] srilatha-sriram commented on #6
Verified. Working fine. Closing the issue.

[2016-01-08 05:10] #6 closed, assigned to srilatha-sriram

[2016-01-08 05:54] PratibhaSawargi commented on #13
Yesterday itself i have resolved issue2 and issue 3. Because of some conflict that is not reflecting in code.Now i am checking.

[2016-01-08 06:17] srilatha-sriram opened #20 "SourceList: When you add a date, Disclose the triangle."
SourceList: When you add a date, Disclose the triangle of the technology under which the date got added. If not, when there is a long list of tech, at that time, this will become confusing.

[2016-01-08 06:23] vipin1006 commented on #20
I will work on it

[2016-01-08 07:06] srilatha-sriram opened #21 "SourceList: Crashed while adding duplicate tech names"
SourceList: Crashed while adding duplicate tech names (Refer screenshot 1). It also added the duplicate tech names to core data(Refer screenshot 2).

![screen shot 2016-01-08 at 12 29 45 pm](https://cloud.githubusercontent.com/assets/16315979/12192345/c340fede-b603-11e5-8f84-445c8dbffdd5.png)
![screen shot 2016-01-08 at 12 32 19 pm](https://cloud.githubusercontent.com/assets/16315979/12192369/e2d6

[2016-01-08 10:51] srilatha-sriram opened #22 "Tech Feedback: Hanging/Uneditable"
Tech Feedback - Round 1: Clicked submit without entering all the fields. Saw error, "Overall assessment of Candidate field shold not be blank". Clicked OK. and tried to enter data. But the fields became uneditable !
Same thing happened for Round 2.

[2016-01-08 10:55] srilatha-sriram opened #23 "Managerial Feedback - Uneditable after displaying an error."
Managerial Feedback - Round 1: Clicked submit without entering all the fields. Saw error, "Overall assessment of Candidate field shold not be blank". Clicked OK. and tried to enter data. But the fields became uneditable !
Same thing happened for Round 2.
When I went back and came again, all the stars became uneditable. But some fields were editable.

[2016-01-08 11:29] Tharani-p commented on #22
ok.I will work on it.

[2016-01-08 11:55] Tharani-p commented on #22
I have fixed this issue and pushed code also. Please have a check and let me know in case any changes is needed.

[2016-01-08 12:41] vipin1006 commented on #19
Fixed

[2016-01-08 12:41] vipin1006 commented on #20
Fixed

[2016-01-08 12:41] vipin1006 commented on #21
Fixed

[2016-01-11 04:19] srilatha-sriram opened #24 "Managerial: When the candidate is 'Rejected' in Technical, do not allow to enter data here."
Managerial: When the candidate is 'Rejected' in Technical, do not allow to enter data here.

Currently it allows

[2016-01-11 04:20] srilatha-sriram commented on #22
Verified. Working fine.

[2016-01-11 04:20] #22 closed, assigned to srilatha-sriram

[2016-01-11 04:21] srilatha-sriram commented on #19
Vipin, Why was this assigned to me ? I am not the originator.

[2016-01-11 04:25] srilatha-sriram opened #25 "Managerial: Multiple clicks on save in Round 1 says, Round2, Round 3 saved."
Managerial: Multiple clicks on save in Round 1 says, Round2, Round 3 saved.

Enter Managerial Round 1 details.
Click save 1st time.
Click Save 2nd time without any other change. It says Round 2 details saved.
Click Save 3rd time without any other change. It says Round 3 details saved.
Click Save 4th time without any other change. It says Round 4 details saved.
:
goes on like this !!!

[2016-01-11 04:42] srilatha-sriram opened #26 "Technical/Managerial/HR: Have 2 separate buttons Save & Submit"
NOTE: Once you complete in your module assign to others to completion in other modules.
1. Instead of have a single 'Save' button, have an extra Submit button. This is to avoid the scenario where you click Save, fields will become uneditable and then you realise you need to change something.
   This will also allow a user to enter data incompletely, Save, go back and come again later to continue e

[2016-01-11 04:54] Tharani-p opened #27 "FeedbackView "back" button."
If the user click on "back" button, we have to show one alert like "Do you want to save the data or not". If user click on "OK", we have to store the data otherwise saving is not needed.

[2016-01-11 05:49] vipin1006 commented on #19
Srilatha Please verify the issue

[2016-01-11 05:50] srilatha-sriram commented on #19
Verified. Working fine. Closing.

[2016-01-11 05:50] #19 closed, assigned to srilatha-sriram

[2016-01-11 06:03] Ajayiosdeveloper commented on #26
Hi Srilatha,

Please clarify the scenario that relates to submit button.What when user click on Submit with out save button first ? my concern to that point is first check for validation and if its all OK then perform saving and making fields un editable in that case.Is this OK? or do we need

some way different.

Regards & Thanks,

Ajay Babu.s,

Exilant Technologies.

----- Original Message -----

[2016-01-11 06:25] PratibhaSawargi commented on #13
Issue 2 : Delete button is disabled when no other candidate is selected in tableview.

[2016-01-11 06:27] srilatha-sriram commented on #13
Verified. Closing.

[2016-01-11 06:27] #13 closed, assigned to srilatha-sriram

[2016-01-11 06:28] srilatha-sriram commented on #20
Working fine. Closing.

[2016-01-11 06:28] #20 closed, assigned to srilatha-sriram

[2016-01-11 06:32] srilatha-sriram commented on #26
(Note: If you need a comment from me, you should first assign it to me. Otherwise, how will i know ??)

Yes, when submit is clicked directly with out save button first, first check for validation and if its all OK then perform saving and making fields un editable. Here it will be good if you can add a confirmation,
"Are you sure you want to 'Submit' the data' ?

[2016-01-11 06:34] PratibhaSawargi commented on #13
In tableview when we add a empty candidate, after selecting that candidate it was taking to feedback controller.This issue is now fixed.

[2016-01-11 07:47] sudhanshu-saraswat commented on #20
Implemented technology sorting in source list please verify.

[2016-01-11 08:31] VineetSingh-Exilant commented on #26
Okay..I will work on it.

[2016-01-11 08:31] Ajayiosdeveloper commented on #26
Hi Srilatha,

[code]

[2016-01-11 09:38] vipin1006 opened #28 "SourceList: Crashing issue in source list"
Steps to reproduce:-

1.Click on technology .
2. Click on date inside it.
3. Click on Technology again.
4 Click again on date inside and the application will crash

[2016-01-11 09:40] sudhanshu-saraswat commented on #28
i will fix it.

[2016-01-11 10:00] sudhanshu-saraswat commented on #28
Issue Resolved please check

[2016-01-11 10:03] pavithra123456 commented on #23
fixed

[2016-01-11 10:22] vipin1006 commented on #28
Yeah its working fine now..

[2016-01-11 10:22] #28 closed, assigned to vipin1006

[2016-01-12 10:20] pavithra123456 commented on #23
flow has been changed

[2016-01-12 10:22] pavithra123456 commented on #24
fixed

[2016-01-12 10:22] pavithra123456 commented on #25
Fixed

[2016-01-12 10:24] vipin1006 commented on #26
Implemented in managerial module

[2016-01-12 10:26] vipin1006 commented on #21
Fixed

[2016-01-12 11:01] srilatha-sriram commented on #25
The mentioned messages don't come now. Will close this issue.
But Save action is not proper. Follow the requirements mentioned in issue #22.

[2016-01-12 11:01] #25 closed, assigned to srilatha-sriram

[2016-01-12 11:03] srilatha-sriram commented on #24
Verified. Closing.

[2016-01-12 11:03] #24 closed, assigned to srilatha-sriram

[2016-01-12 11:05] srilatha-sriram commented on #23
Save is fine. But after 'Submit' the fields are still editable. Need to get the scenario for that..

Meanwhile Technical Rating fields have disappeared.
Refer #26 requirements for proper logic.

[2016-01-12 11:07] srilatha-sriram commented on #21
Verified. Working fine.

[2016-01-12 11:07] #21 closed, assigned to srilatha-sriram

[2016-01-12 13:50] Tharani-p commented on #27
I have implemented back button in technical feedback view.You have to implement in manager feedback also.

[2016-01-13 04:43] vipin1006 commented on #27
It has been implemented in Manager feedback, Ajay you have to implement in HR Feedback

[2016-01-13 05:03] srilatha-sriram commented on #14
This issue is not occurring any more. Closing it.

[2016-01-13 05:03] #14 closed, assigned to srilatha-sriram

[2016-01-13 05:04] srilatha-sriram commented on #1
Rajesh,  If all the comments are taken care, please close this issue.

[2016-01-13 05:05] srilatha-sriram commented on #18
Ajay, are you working on this ? Any update ??

[2016-01-13 05:19] Ajayiosdeveloper commented on #27
Hi Srilatha,

[code]

Thanks & Regards,

Ajay Babu.s,

Exilant Technologies.

[2016-01-13 05:28] srilatha-sriram commented on #27
Ajay, Tharani, Vipin, Vineet,
1. When ‘Save’ is clicked the information should be something like,

   Information Saved.
   Feedback for Technical Round has been updated successfully.
   (Only OK button to be shown)
2. When ‘Back’ is clicked the information should be something like,

    2.1 (if there is unsaved data/window dirty)
    Do you want to ‘Save’ the data entered before going to the prev

[2016-01-13 05:30] Ajayiosdeveloper commented on #17
Fixed

[2016-01-13 05:31] padalingam87 commented on #17
Verified  working fine

[2016-01-13 05:31] #17 closed, assigned to padalingam87

[2016-01-13 05:33] Ajayiosdeveloper commented on #18
Hi,
i have been working and will complete today.

[2016-01-13 07:04] Tharani-p commented on #26
Implemented in Technical Module.

[2016-01-13 09:43] Ajayiosdeveloper commented on #18
Hi Pada,

[code]

Use case:  if a textfield that takes a Name of a user but user enters a number in that, then by using this method we can validate whether that is a proper name or simply a number.This can not be done using the another method which does not allow characters to enter.

 Once your Core data part is completed then if any common methods exist then move those to Utilities.

Many Thanks

[2016-01-13 09:55] Ajayiosdeveloper commented on #18
Hi Srilatha,

[code]

[2016-01-15 06:12] srilatha-sriram opened #29 "Candidate: After emptying the entered phone # field, it allows to go to Feedback"
1. Enter all details including phone number
2. Deleted phone number
3. Clicked 'Enter Feedback'.
4. Feedback screen opened.

Expected: Should keep the phone number empty and  give that error saying all details have to be entered. Should not go to feedback.

[2016-01-15 06:20] srilatha-sriram opened #30 "Managerial/HR: Do not proceed if there is an incomplete Technical Round 2 or 3."
Currently if Technical Round 2 or 3 has some dat saved and is incomplete or  not yet submitted, still data is being accepted in Managerial Round and HR Round. The check for incomplete Round 2 and Round 3 data seems to be missing in Managerial & HR.

Ajay/Tharani - once done, assign to the other person,.

[2016-01-15 06:27] srilatha-sriram opened #31 "Managerail/HR/Technical: Add a 'Clear' button to clear all fields."
Managerail/HR/Technical: Add a 'Clear' button to clear all fields.

Assign to the next person once done.

[2016-01-15 06:29] srilatha-sriram commented on #26
Verified. Working fine. Closing.

[2016-01-15 06:29] #26 closed, assigned to srilatha-sriram

[2016-01-15 06:44] Tharani-p commented on #31
I have implemented "Clear Button" in Technical and Managerial Feedback.

[2016-01-15 06:56] Ajayiosdeveloper commented on #31
okay.I will implement Clear button and also other assigned in HR and let you know.

Thanks & Regards,

Ajay Babu.s,

Exilant Technologies.

----- Original Message -----

From: "Tharani-p" notifications@github.com
To: "vipin1006/eHire" eHire@noreply.github.com
Cc: "Ajayiosdeveloper" ajaybabu.s@exilant.com
Sent: Friday, January 15, 2016 12:14:04 PM
Subject: Re: [eHire] Managerail/HR/Technical: Add a

[2016-01-15 07:10] srilatha-sriram opened #32 "Technical: fatal error: Array index out of range"
1.Try to add a new title under 'Rating for technical'
2. Without tabbing  out or clicking elsewhere, click on Add again.
3. App crashes.

[2016-01-15 07:22] padalingam87 commented on #31
@Ajayiosdeveloper
Please don't put company name in Thanks & Regards. Because we are using public repository.

[2016-01-15 08:00] Tharani-p commented on #32
I have fixed the issue.

[2016-01-25 07:11] srilatha-sriram commented on #32
App still crashes if you remove 'Enter Title' and click on 'Add' again.
Please  perform thorough unit testing before sending a fix for verification.

[2016-01-25 07:27] srilatha-sriram commented on #18
Closing the issue as all the common methods used currently are moved under Utilities group.

[2016-01-25 07:27] #18 closed, assigned to srilatha-sriram

[2016-01-25 08:46] Tharani-p commented on #32
I have fixed the issue and committed code.for me its working fine and still you are facing the same problem. let me know.

[2016-01-25 10:36] sudhanshu-saraswat opened #33 "Candidate Module : Search field crashing when searching for a candidate."

[2016-01-25 10:37] PratibhaSawargi commented on #33
Okay, i will work on it.

[2016-01-25 10:42] VineetSingh-Exilant opened #34 "Not going to round2 after submitting in round1in Technical Module"
![screen shot 2016-01-25 at 4 06 27 pm](https://cloud.githubusercontent.com/assets/16332019/12548654/f0ea97aa-c37d-11e5-8b7c-7f17cd71a364.png)
Not going to round2 after submitting in round1.

[2016-01-25 10:52] VineetSingh-Exilant opened #35 "Technology"

[2016-01-25 10:52] #35 closed, assigned to nobody

[2016-01-25 10:54] VineetSingh-Exilant opened #36 "Not able to delete the Technology Module"
![screen shot 2016-01-25 at 4 14 51 pm](https://cloud.githubusercontent.com/assets/16332019/12548967/ef79473e-c37f-11e5-924a-b13375bb6ee9.png)
Not able to delete blank technology field.

[2016-01-25 11:09] sudhanshu-saraswat commented on #36
i will fix it

[2016-01-25 12:28] rajeshnath3899 opened #37 "Text Field in Technology is not highlighted as soon as Add Technology button is clicked"
When add technology button is clicked and once the text field to enter the technology name appears, the user has to click in twice to enter the Technology name
Steps to reproduce this issue :-

1) Launch the app
2) Click on add technology
3) Double click on technology text field to enter the technology name

Solution :- Make textFieldTechnology as the First Responder once we click on add technolog

[2016-01-25 12:43] rajeshnath3899 opened #38 "Validation of Name, Experience, Phone number ,Requisition fields not as expected"
When we provide invalid data and tab out its focus is moved  to next successive textfield once we click Ok button on the alert window

Expected scenario : Once we tab out of a field if its invalid once alert is popped up and end user clicks on Ok button it has to retain the focus onto the current textfield instead of moving to the next successive field

Steps to reproduce :

1) Launch the applicat

[2016-01-27 08:23] Tharani-p commented on #34
i will work on that.

[2016-01-27 09:34] Tharani-p commented on #30
i have fixed the issue.

[2016-01-27 10:10] Tharani-p commented on #27
Fixed the issue as per the requirement.

[2016-01-27 11:49] rajeshnath3899 commented on #38
Pratibha can you let me know the ETA for fixing this bug

[2016-01-27 11:55] padalingam87 commented on #37
Still we have this issue. We need to create separate example for this scenario and we need find out the solution

[2016-01-27 12:33] Tharani-p commented on #31
Implemented "Clear Button" For HR Module.

[2016-01-27 12:38] PratibhaSawargi commented on #38
Hi Rajesh,
I have fixed the issue,can you please check and let me know.

[2016-01-27 12:41] PratibhaSawargi commented on #33
I have fixed the SearchField issue.

[2016-01-27 12:45] PratibhaSawargi commented on #29
Issue resolved.
When phone number field is empty,it is not allowing to go Feedback Module.Please verify and let me know.

[2016-01-27 13:31] rajeshnath3899 commented on #38
issue still persists can you please check this again
![screen shot 2016-01-27 at 6 59 03 pm](https://cloud.githubusercontent.com/assets/16381903/12614870/6d328b28-c528-11e5-8726-86ab03661db0.png)

[2016-01-27 13:39] rajeshnath3899 commented on #32
crash still exists not able to reproduce always

[2016-01-28 04:28] sudhanshu-saraswat commented on #36
Issue Fixed : Not able to delete blank technology field

[2016-01-28 04:32] Tharani-p commented on #32
I will work on it.

[2016-01-28 04:37] sudhanshu-saraswat commented on #33
Issue  still persist.Refer the screen shot
![screen shot 2016-01-28 at 10 05 04 am](https://cloud.githubusercontent.com/assets/16332003/12635194/bccec268-c5a6-11e5-8a85-e94bee4fb0d5.png)

[2016-01-28 04:48] VineetSingh-Exilant commented on #34
Fixed..

[2016-01-28 04:48] #34 closed, assigned to vipin1006

[2016-01-28 05:05] VineetSingh-Exilant opened #39 "Technical Module"
Without saving Round 2,we are able to proceed to round 3.

[2016-01-28 05:11] padalingam87 commented on #37
Textfield is highlighted when you add a new technology and issue was fixed

[2016-01-28 05:42] VineetSingh-Exilant commented on #36
Fixed..

[2016-01-28 05:42] #36 closed, assigned to VineetSingh-Exilant

[2016-01-28 05:58] rajeshnath3899 commented on #1
All the above comments are taken care of hence closing this issue

[2016-01-28 05:58] #1 closed, assigned to rajeshnath3899

[2016-01-28 06:28] sudhanshu-saraswat opened #40 "Manager Module: Rejected Candidate from Round 1 should not allow to go to Round 2."

[2016-01-28 06:33] VineetSingh-Exilant commented on #40
I will work on it..

[2016-01-28 06:40] VineetSingh-Exilant opened #41 "Technology Module"
App crashing while deleting blank technology.

[2016-01-28 06:55] sudhanshu-saraswat commented on #41
i will fix it

[2016-01-28 06:58] padalingam87 commented on #41
Fixed and you can check now

[2016-01-28 07:41] VineetSingh-Exilant commented on #40
Fixed..Please Verify

[2016-01-28 07:42] Tharani-p commented on #39
Vineet i have fixed that issue. Can you please check it?

[2016-01-28 07:50] VineetSingh-Exilant commented on #39
it is crashing..

[2016-01-28 07:56] sudhanshu-saraswat commented on #40
closed

[2016-01-28 07:56] #40 closed, assigned to sudhanshu-saraswat

[2016-01-28 08:07] Tharani-p commented on #39
now check it.

[2016-01-28 08:55] VineetSingh-Exilant commented on #39
Not working properly.

[2016-01-28 10:25] Tharani-p commented on #39
I have fixed the issue in Technical Feedback Module.Vineet you fix the same issue in Managerial Module.

[2016-01-28 10:36] VineetSingh-Exilant commented on #39
Okay

[2016-01-28 11:13] VineetSingh-Exilant commented on #39
Fixed..Please Verify

[2016-01-28 12:08] Tharani-p commented on #39
In Managerial Module its working fine.

[2016-01-28 12:10] VineetSingh-Exilant commented on #39
Fixed..

[2016-01-28 12:10] #39 closed, assigned to VineetSingh-Exilant

[2016-01-28 12:15] VineetSingh-Exilant commented on #41
Closed.

[2016-01-28 12:15] #41 closed, assigned to sudhanshu-saraswat

[2016-01-28 12:29] VineetSingh-Exilant opened #42 "App crashing..Please refer screen shot."
![screen shot 2016-01-28 at 5 52 40 pm](https://cloud.githubusercontent.com/assets/16332019/12644338/4104d8b0-c5e8-11e5-920b-144ce66b4356.png)

[2016-01-28 12:33] sudhanshu-saraswat commented on #42
i will fix it

[2016-01-28 12:42] rajeshnath3899 commented on #37
issue fixed hence closing this issue

[2016-01-28 12:42] #37 closed, assigned to rajeshnath3899

[2016-01-28 12:49] PratibhaSawargi commented on #33
I have fixed.Verify.

[2016-01-28 12:56] sudhanshu-saraswat commented on #33
Closed

[2016-01-28 12:56] #33 closed, assigned to sudhanshu-saraswat

[2016-01-28 12:56] rajeshnath3899 commented on #32
padalingam can you also look into this issue ..

[2016-01-28 12:57] rajeshnath3899 commented on #30
issue fixed hence closing this issue

[2016-01-28 12:57] #30 closed, assigned to rajeshnath3899

[2016-01-28 13:01] vipin1006 commented on #23
This is fixed.

[2016-01-28 13:19] rajeshnath3899 commented on #27
Please provide the ETA

[2016-01-28 13:29] rajeshnath3899 commented on #23
issue fixed hence closing it

[2016-01-28 13:29] #23 closed, assigned to rajeshnath3899

[2016-01-28 13:39] rajeshnath3899 commented on #31
enhancement done

[2016-01-28 13:39] #31 closed, assigned to rajeshnath3899

[2016-01-28 13:44] rajeshnath3899 opened #43 "Scrolling is not user friendly when we come across a textviews"
once the mouse cursor comes across and text view the scrolling stops we we need to move the mouse cursor away from the text view and then continue scrolling

[2016-01-28 14:03] rajeshnath3899 commented on #27
enhancement done

[2016-01-28 14:03] #27 closed, assigned to rajeshnath3899

[2016-01-28 14:13] rajeshnath3899 opened #44 "Clear should be disabled once the user starts continuing to enter data after a partial save"

[2016-01-28 14:14] rajeshnath3899 opened #45 "On candidate rejection disable the position / designation field"

[2016-01-28 14:23] Tharani-p commented on #44
i will work on it.

[2016-01-29 08:13] sudhanshu-saraswat commented on #42
Issue Fixed

[2016-02-01 05:15] sudhanshu-saraswat opened #46 "Candidate Module# Candidate search bar is not showing proper search results.Refer screen shots."
![screen shot 2016-02-01 at 10 27 43 am](https://cloud.githubusercontent.com/assets/16332003/12709180/0d1fd2ae-c8cf-11e5-9cb6-7f244a21fef0.png)

![screen shot 2016-02-01 at 10 28 02 am](https://cloud.githubusercontent.com/assets/16332003/12709247/d4a481a8-c8cf-11e5-9236-40daf9030f47.png)

[2016-02-01 05:33] sudhanshu-saraswat opened #47 "Candidate Feedback form : Date of Interview is not proper in Personal Details section.Refer Screen shot"
![screen shot 2016-02-01 at 11 02 47 am](https://cloud.githubusercontent.com/assets/16332003/12709563/68b5d254-c8d3-11e5-84bf-76ea9a679030.png)

[2016-02-01 05:51] VineetSingh-Exilant opened #48 "On candidate rejection disable the position / designation field in manager Module."
Fixed..Please Verify.

[2016-02-01 05:52] PratibhaSawargi commented on #46
I will work on it.

[2016-02-01 05:52] Tharani-p commented on #44
I have fixed the clear button issue in Technical Feedback Module.

@Vipin/Vineet fix for Manager Feedback Module.

[2016-02-01 06:14] PratibhaSawargi commented on #38
Fixed the issue : "When we provide invalid data and tab out its focus is moved to next successive textfield once we click Ok button on the alert window"
Please verify and let me know if it is not working.

[2016-02-01 06:22] Tharani-p commented on #45
issue fixed..please verify

[2016-02-01 06:43] Tharani-p commented on #47
fixed..please verify

[2016-02-01 07:03] rajeshnath3899 commented on #16
Ajay can  you fix this issue ASAP

[2016-02-01 07:08] Ajayiosdeveloper commented on #16
Sure.i will fix and let you know.

----- Original Message -----

From: "rajeshnath3899" notifications@github.com
To: "vipin1006/eHire" eHire@noreply.github.com
Cc: "Ajayiosdeveloper" ajaybabu.s@exilant.com
Sent: Monday, February 1, 2016 12:33:22 PM
Subject: Re: [eHire] ContextMenu : Its Visible out Side the scope (#16)

Ajay can you fix this issue ASAP

—
Reply to this email directly or view it on

[2016-02-01 07:14] rajeshnath3899 commented on #48
issue fixed verified hence closing this issue

[2016-02-01 07:14] #48 closed, assigned to rajeshnath3899

[2016-02-01 07:37] rajeshnath3899 commented on #47
issue fixed and verified hence closing this issue

[2016-02-01 07:37] #47 closed, assigned to sudhanshu-saraswat

[2016-02-01 07:38] rajeshnath3899 commented on #45
issue fixed and verified hence closing this issue

[2016-02-01 07:39] #45 closed, assigned to rajeshnath3899

[2016-02-01 07:48] rajeshnath3899 commented on #38
instead of clearing the invalid data can you highlight it so that if user had typed a long string if you clear off the text field  he has to put his effort to type it again and this can be annoying at times

[2016-02-01 07:53] rajeshnath3899 commented on #42
issue fixed and verified hence closing this issue

[2016-02-01 07:53] #42 closed, assigned to VineetSingh-Exilant

[2016-02-01 07:55] rajeshnath3899 commented on #29
issue fixed and verified hence closing this issue

[2016-02-01 07:55] #29 closed, assigned to srilatha-sriram

[2016-02-01 08:03] rajeshnath3899 opened #49 "Manager Module we are able to delete the default skills"
1) Goto Manager Module
2) try deleting the defaults skills like growth potential , communication ,organisation stability etc)
3) save the data

expected scenario
1) The default skills should not be deleted

[2016-02-01 08:04] Ajayiosdeveloper commented on #16
Hi Rajesh,

[code]

[2016-02-01 08:52] PratibhaSawargi commented on #38
I will work on it.

[2016-02-01 09:11] rajeshnath3899 opened #50 "Alert message is improper when we switch from technical round to Manager round on candidate rejection"
Steps to reproduce

1) Give a technical round feed back
2) under recommendation select reject
3)Now select managerial section
4) Alert is shown as "Please complete the technical round before proceeding to managerial round"

Expected output :
This candidate has been 'Rejected' in the Technical Round. Hence you cannot proceed to this round.

[2016-02-01 09:30] rajeshnath3899 opened #51 "Basic Validations in HR module or few fields are missing"
1) Mobile no fields accepts alphanumeric characters
2) have look into email id field as well

[2016-02-01 09:38] Tharani-p commented on #50
fixed..please verify

[2016-02-01 09:39] Ajayiosdeveloper commented on #51
Sure.will let you know once fixed.

----- Original Message -----

From: "rajeshnath3899" notifications@github.com
To: "vipin1006/eHire" eHire@noreply.github.com
Cc: "Ajayiosdeveloper" ajaybabu.s@exilant.com
Sent: Monday, February 1, 2016 3:00:16 PM
Subject: [eHire] Basic Validations in HR module or few fields are missing (#51)

1) Mobile no fields accepts alphanumeric characters
2) have look into

[2016-02-01 09:52] rajeshnath3899 opened #52 "Clicking on Back button on already saved submitted data"
Steps to reproduce

1) submit a technical round feedback
2) come to main screen and select recently made entry
3) click on **Enter Feed Back *\* and now click on **Back**
4) we get an alert to save changes

Expected scenario
Alert should not appear if its already completely submitted data

[2016-02-01 10:43] VineetSingh-Exilant commented on #49
Fixed..Please Verify

[2016-02-01 10:44] VineetSingh-Exilant commented on #44
Fixed..Please Verify

[2016-02-01 11:38] Tharani-p commented on #44
fixed the clear button issue in Technical / Managerial Feedback Module.

@Ajay fix for HR Feedback Module.

[2016-02-01 13:12] rajeshnath3899 commented on #16
issue fixed and verified hence closing this issue

[2016-02-01 13:12] #16 closed, assigned to rajeshnath3899

[2016-02-02 05:03] PratibhaSawargi commented on #38
Fixed the issue(38) .
1) Invalid data is highlighting now.Previously we were clearing.
2) If we give name and requisition fields alphanumerics,it is giving alert.

[2016-02-02 05:05] PratibhaSawargi commented on #46
Fixed the issue #46 : "Candidate search bar is not showing proper search results".
Verify and let me know.

[2016-02-02 05:14] sudhanshu-saraswat commented on #46
issue fixed and verified hence closing this issue

[2016-02-02 05:14] #46 closed, assigned to rajeshnath3899

[2016-02-02 05:18] Ajayiosdeveloper commented on #44
sure, i will soon fix and let you know that by noon

[2016-02-02 06:47] Ajayiosdeveloper commented on #44
Hi,

This issue has been fixed and tested.Please have a review and let me know if that yet having any issue.

[2016-02-02 10:40] rajeshnath3899 commented on #52
even if the user did not make any changes its giving me an alert to save the changes and its also storing an empty row to the store file

[2016-02-02 11:45] rajeshnath3899 commented on #50
issue still exists reject a candidate and click on HR section still gives an alert saying "Please complete Technical Round(s) before proceeding to the HR Round"

[2016-02-02 12:15] rajeshnath3899 commented on #44
issue fixed and verified hence closing this issue

[2016-02-02 12:15] #44 closed, assigned to rajeshnath3899

[2016-02-02 12:19] rajeshnath3899 commented on #38
issue fixed and verified hence closing this issue

[2016-02-02 12:19] #38 closed, assigned to rajeshnath3899

[2016-02-02 12:25] Tharani-p commented on #52
i have implemented for technical module.
@Vineet - fix for manager module.

[2016-02-03 06:38] VineetSingh-Exilant commented on #52
I have Implemented in managerial Module.
@Ajay - Fix in HR Module.

[2016-02-03 07:08] Ajayiosdeveloper commented on #52
Hi,
This issue is fixed and tested in HR module also.Please review and let me know any issues yet be there.

[2016-02-03 07:32] Ajayiosdeveloper commented on #50
Fixed.please verify.

[2016-02-03 09:52] Ajayiosdeveloper commented on #51
Hi,
    validations have been verified & fixed.Please verify and let me know.

[2016-02-08 14:18] rajeshnath3899 opened #53 "Crash on creating a technology"

[2016-02-08 14:20] #53 closed, assigned to nobody

[2016-02-08 14:34] rajeshnath3899 commented on #52
repeating the process of saving partially and coming back and then submitting is leading to crash . Im getting an error as follows

"An uncaught exception was raised
2016-02-08 20:01:29.139 EHire[9869:178543] _registerUndoObject:: NSUndoManager 0x608000086720 is in invalid state, must begin a group before registering undo"

[2016-02-08 14:38] rajeshnath3899 commented on #52
The above error is happening in technology module please verify the same in other modules

[2016-02-08 14:44] rajeshnath3899 commented on #51
still email accept mail id like rajn597@gmail

it should accept  mail id like rajn597@gmail.com

[2016-02-08 14:52] rajeshnath3899 commented on #50
this issue is fixed and verified hence closing this issue

[2016-02-08 14:52] #50 closed, assigned to rajeshnath3899

[2016-02-08 15:00] rajeshnath3899 commented on #49
Still I'm able to delete and edit the default skills in managerial module.

[2016-02-09 04:57] Ajayiosdeveloper commented on #51
Hi,

Now its been fixed & checked in.Requested to check it once.

Regards

----- Original Message -----

From: "rajeshnath3899" notifications@github.com
To: "vipin1006/eHire" eHire@noreply.github.com
Cc: "Ajayiosdeveloper" ajaybabu.s@exilant.com
Sent: Monday, February 8, 2016 8:31:44 PM
Subject: Re: [eHire] Basic Validations in HR module or few fields are missing (#51)

still email accept mail id

[2016-02-09 05:35] rajeshnath3899 commented on #51
issue fixed and verified hence closing this issue

[2016-02-09 05:35] #51 closed, assigned to rajeshnath3899

[2016-02-09 12:39] VineetSingh-Exilant commented on #49
Fixed

[2016-02-11 14:17] rajeshnath3899 commented on #49
issue fixed and verified hence closing this issue

[2016-02-11 14:17] #49 closed, assigned to rajeshnath3899

[2016-03-03 07:28] rajeshnath3899 opened #54 "Fonts are bold in the HR module than compared to technology and managerial round module"
It should be uniform in all the modules , please follow the Hig document from apple

[2016-03-03 07:31] rajeshnath3899 opened #55 "Animate the window when presenting it"
presenting a new window should be followed with animation

[2016-03-03 07:45] rajeshnath3899 opened #56 "Disable the round 2 and round 3 until shortlisted for round 1"
Instead of displaying the alert message lets disable button of next successive round until the candidate is shortlisted and this applies  for all other rounds

[2016-03-03 10:20] rajeshnath3899 commented on #52
issue fixed & verified hence closing this issue

[2016-03-03 10:20] #52 closed, assigned to rajeshnath3899

[2016-03-03 10:20] rajeshnath3899 commented on #32
issue fixed and verified hence closing this issue

[2016-03-03 10:20] #32 closed, assigned to Tharani-p

[2016-03-03 10:39] rajeshnath3899 opened #57 "Look and feel of Button needs to be improved"
Buttons like feedback , back , clear and submit they need to be modern simple 2D look

[2016-03-08 09:04] Tharani-p commented on #55
i have fixed the issue... please verify it and let me know in case any changes needed.

[2016-03-09 08:59] Tharani-p commented on #56
issue fixed.. please verify it.

[2016-03-14 09:36] Ajayiosdeveloper commented on #57
Hi,
   The Push buttons in the FeedBack Modules (Cancel & Submit), Feedback Button & back button have been changed. As for now you can check and i still think something to improve but sure that better than earlier push style.